a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
ul{
    list-style: none;
    padding-left: 15px;
    
}
nav ul ul{
    display: none;
    opacity: 0.5;
}
nav ul li:hover > ul {
	display: block;
    
}
